<p>This is the map view.</p>

{{$imac1._RF}}


<div>
	<canvas id="mapCanvas" resize style="background:pink" width="800" height="600" class="myFuckingDirective"></canvas>
</div>

<!--<script type="text/paperscript" canvas="mapCanvas" draw>
	var roundRect = new Shape.Rectangle({
            center: [100, 400],
            size: [50, 100],
            radius: [15, 20],
            fillColor: 'orange',
            strokeColor: 'black',
            strokeWidth: 10,
            rotation: 20,
            data : {'lol': {{imac1._RF}}, 'prof' : 'constant'}
    });
	console.log("text : " + roundRect.data.lol);

</script>-->	